<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GocdTray.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <GocdTray.App.Properties.Settings>
      <setting name="GocdApiUri" serializeAs="String">
        <value>https://buildserver:8154</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>username</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>password</value>
      </setting>
      <setting name="IgnoreCertificateErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PollingIntervalSeconds" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="GocdWebUri" serializeAs="String">
        <value>http://buildserver:8153</value>
      </setting>
    </GocdTray.App.Properties.Settings>
  </userSettings>
</configuration>